torch
torchvision
cython==0.29.10
wandb
future
typing
numpy
pandas
matplotlib
jupyter
h5py
awscli
boto3
tqdm
termcolor
path.py
pillow-simd
opencv-python-headless
mpi4py
onnx
onnxruntime
pycuda
yacs
horovord
